body
{
	background: #005A3D;
}

section
{
	background-image: url("/presentations/reveal.js/pres.temp.png");
/*	
	min-width: 1600px;
	min-height: 1000px;
	max-width: 1600px;
	max-height: 1000px;
*/
	width: 1920px;
	height: 1200px;
    border: 1px solid rgba(0, 0, 0, .3);
    border-radius: 10px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, .1);
    color: black;
    text-shadow: 0 2px 2px rgba(0, 0, 0, .1);
}

.head
{
	top: 0%;
	max-height: 105px;
	min-height: 105px;
}

.head > .logo
{
	position: fixed;
	top: 41%;
	left: 7.5%;
}

.head > .title
{
	position: fixed;
	font-family: Monospace;
	font-size: 125%;
	font-weight: bold;
	top: 5%;
	right: 10%;
}

.body
{
	font-family: Monospace;
	font-size: 100%;
	/*
	min-height: 995px;
	max-height: 995px;
	*/
	width: 1457px;
	height: 960px;
	display: table-cell;
	vertical-align: middle;
	text-align: left;
	/*padding: 463px 0px 0px 0px 0px;
	margin: 463px 0px 0px 0px 0px;
	*/border-left: 463px solid rgba(0, 0, 0, 0) !important;
}

.foot
{
	bottom: 10px;
	background-color: rgba(255,255,255,0.5);
}

.foot > .follow
{
	position: fixed;
	bottom: 20px;
	right: 15px;
	text-align: right;
	font-size: 75%;
}

.foot > .follow > center > a > img
{
	height: 80px;
}


.foot .bottom
{
	position: fixed;
	bottom: 75px;
	left: 1%;
	text-align: left;
	font-size: 75%;
}

.foot .number
{
	color: white;;
	position: fixed;
	bottom: 45px;
	left: 1%;
	font-size: 25px;
	font-family: Monospace;
}


.bottom .author
{
	color: white;
	text-shadow: 1px 1px #5F021F;
}

.bottom .organization
{
	color: white;
	text-shadow: 1px 1px #5F021F;
}

.bottom .webpages
{
	color: white;
	background-color: rgba(255,255,255,1);
	border: 2px solid rgba(255,255,255,1);
}

a:link
{
	background-color: white;
	color: #007153;
	border: 0px;
	text-shadow: 1px 1px #5F021F;
}

a:visited 
{
	background-color: white;
	color: #007153;
	text-shadow: 0px 0px #5F021F;
}

a:hover 
{
	background-color: white;
	color: #007153;
	text-shadow: 1px 1px #5F021F;
}

a:active
{
	color: #007153;
	background-color: white;
	text-shadow: 1px 1px #5F021F;
}

.label
{
	width: 55%;
	border-top:   4px solid white;
	border-left:  4px solid white;
	border-right: 4px solid white;
	border-collapse: separate;
    border-spacing: 10px 50px;
}

.definition 
{
	border-collapse: separate;
    border-spacing: 10px 50px;
	border-top:   4px solid white;
	border-bottom:4px solid white;
	border-left:  4px solid white;
	border-right: 4px solid white;
}

ul.resources
{

}

ul.resources>li
{

}

ul.resources>li>.name
{
	font-weight: bold;
}
ul.plus {
  list-style: none;
  margin-left: 0;
  padding-left: 0;
}

ul.plus>li {
  padding-left: 1em;
  text-indent: -1em;
}

ul.plus>li:before {
  content: "+ ";
  padding-right: 5px;
}
ul.normal {
  list-style: none;
  margin-left: 0;
  padding-left: 0;
}

ul.normal>li {
  padding-left: 1em;
  text-indent: -1em;
}

ul.normal>li:before {
  content: "";
  padding-right: 0px;
}
p.nb {
    text-align: justify;
    text-justify: inter-word;
	border-right: 25px solid rgba(0,0,0,0);
}
.button-1 {font-size: 35px;}
.button-4 {font-size: 50px;}
